
/* 
.text-danger{
    font-family: 'Merriweather', serif;
    font-weight: 500;
} */

p {
    font-family: Lato;
  }
  .error-message {
    color: red;
  }
  input.ng-touched.ng-invalid {
    border: 1px solid red;
  }