body {
     margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #1629d3;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#1629d3;
    font-family: 'Roboto Condensed', sans-serif;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}

.company_title{
    font-family: 'Roboto Slab', serif;
}
.create {
	width: 100%;
	height: 1000px;
	/* background-color: #1629d3; */
}
.inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
	right: 10px;
    top: 10px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  .inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    /* border-radius: 4px 0 0 4px; */
  }
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  
  input[type="text"] {
    width: 100%;
    /* border: 2px solid #aaa; */
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  input[type="password"] {
    width: 100%;
    /* border: 2px solid #aaa; */
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  input[type="password"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="text"] {
    padding-right: 40px;
  }

  .inputWithIcon mat-icon {
    position: absolute;
	right: 17px;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  .inputWithIcon.inputIconBg mat-icon {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  .inputWithIcon input[type="text"]:focus + mat-icon {
    color: dodgerBlue;
  }
  .inputWithIcon input[type="password"]:focus + mat-icon {
    color: dodgerBlue;
  }
 
  .inputWithIcon.inputIconBg input[type="text"]:focus + mat-icon {
    color: #fff;
    background-color: dodgerBlue;
  }
  .inputWithIcon.inputIconBg input[type="password"]:focus + mat-icon {
    color: #fff;
    background-color: dodgerBlue;
  }
